.entry{
  width: 100%;
  height: 70px;
  border-radius: 3px;
  margin: 5px 0;
  background: rgba(255, 255, 255, .80);
  box-shadow:  0px 0 35px 2px rgba(0, 0, 0, .03);
  position: relative;

  &-detail {
    width: 10%;
    height: 70px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 70px;
    float: left;
    text-align: left;
    padding: 0 0px;

    .icon{
      width: 6px;
      height: 6px;
      background: $primary-black;
      border-radius: 100%;
      display: inline-block;
      margin: 0 10px 1.5px -10px;
    }
  }

  .name{
    margin-left: 20px;
    padding-left: 35px;
    width: 20%
  }

  .check{
    width: 25px;
    height: 25px;
    margin-left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0px;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .cal, .carb, .fat, .protein, .sugar{
    float: right;
  }

  .carb .icon{
    background: #ffc85c;
  }
  .fat .icon{
    background: #fe6f70;
  }
  .protein .icon{
    background: #477bff;
  }
}

@media (max-width: 500px){
  section.summary.toggled{
    width: 100%;
    margin-left: 0;
  }

  .title h1 span{
    display: none;
  }

  .entry{
    .entry-detail{
      width: 15%;
    }
    .name{
      margin-left: 10px;
      padding-left: 5px;
    }
  }

}
