.diary{
  width: 100%;

  opacity: 1;

  &:hover{
    .entry{
      opacity: .35;

      &:hover{
        opacity: 1;
        box-shadow:  0px 0 40px 4px rgba(0, 0, 0, .06);
      }
    }
  }

  .entries {
    margin-bottom: 25px;
    width: 100%;

  }

  .totals{
    margin-bottom: 25px;
  }

  .remaining{
    margin-bottom: 25px;

    .entry{
      background:#ffc1c1;
      color: #a87777;
    }
  }

  .totals{

  }

  .daily{
    color: #7da1fc;
  }

}
