.diary{
  width: 100%;

  opacity: 1;

  .entries {
    margin-bottom: 25px;
    width: 100%;

  }

  .totals{
    margin-bottom: 25px;
  }

  .remaining{
    margin-bottom: 25px;

    .entry{
      background:#ffc1c1;
      color: #a87777;
    }
  }

  .totals{

  }

  .daily{
    color: #7da1fc;
  }

}
